h1{
    text-align:center;
}
#components{
    text-align:center;
    font-size: 18px;
}
body {
    background-image: url(bg.jpg);
    
}
#results{
    text-align:center;
    font-size:18px;
}